@{
    ViewData["Title"] = "Home Page";
}<head>
    <link href="~/css/Index.css" rel="stylesheet" type="text/css" />
    </head>
<body>
<div class="text-center">
    <h1 class="header">Welcome to LineUp</h1>
    <p>LineUp is a web-based application which enlightens the work of amateur coaches. Coaches have a lot of responsibilities, like preparing trainings, creating lineups for matches, discussing tactics and even more. What if we could facilitate take one task? The best option for this is creating a lineup for the match. If you want to use the LineUp application, you first need to log in. Once your logged in you can create a team and add players to it. Once you have at least 11 players in your team you can go create formations. The LineUp application lets you choose a position for every player. The only restrictions to your formation are that you need to have 11 field players and 1 goalkeeper, besides that you are free to think of your own position combinations. I hope you found this useful and i wish you good times using the LineUp application.</p>
</div>
    </body>
