@model AddFormationViewModel

@{
    ViewData["Title"] = "Add formation";
}

<h1>Add new formation</h1>

@if (Model != null)
{
    <form method="post">
        <label>Team name</label>
        <input asp-for="Name" class="form-control"/>
    @foreach (var player in Model.Players)
    {
        <center>
            <div class="card" style="width:30%">
                <center>
                    <h2 class="card-header">@player.Name</h2>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>Position</label>
                        <input asp-for="PlayerPositions" class="form-control" />
                    </div>
                </center>
            </div>
        </center>
    }
    <button type="submit" class="btn btn-primary">Add Formation</button>
        </form>
}
