@model AccountHomeViewModel
@{
    ViewData["Title"] = "AccountHome";
}

<h1>AccountHome</h1>
    <button asp-controller="Team" asp-action="AddTeam" class="btn btn-primary">Add team</button>
@if (Model != null)
{
    foreach (var team in Model.Teams)
    {
<p>@team</p> <br />
    }
}