@model TeamViewModel
@{
    ViewData["Title"] = "";
}

<h1>My teams</h1>
<a asp-controller="Player" asp-action="AddPlayer" class="btn btn-primary">Add formation</a>
<a asp-controller="Formation" asp-action="AddFormation" class="btn btn-primary">Add formation</a>
@if (Model != null)
{
    foreach (var player in Model.Players)
    {
        <center>
            <div class="card" style="width:30%">
                <center>
                    <h2 class="card-header">@player.Name</h2>
                    <div class="card-body">
                        <a asp-controller="Player" asp-action="EditPlayer" asp-route-id=@player.Id class="btn btn-primary">Edit player</a>
                        <a asp-controller="Player" asp-action="DeletePlayer" asp-route-id=@player.Id class="btn btn-danger">Delete player</a>
                    </div>
                </center>
            </div>
        </center>
    }

    foreach (var formation in Model.Formations)
    {
        <center>
            <div class="card" style="width:30%">
                <center>
                    <h2 class="card-header">@formation.Name</h2>
                    <div class="card-body">
                        <a asp-controller="Player" asp-action="EditPlayer" asp-route-id=@formation.Id class="btn btn-primary">View Formation</a>
                        <a asp-controller="Player" asp-action="DeletePlayer" asp-route-id=@formation.Id class="btn btn-danger">Delete Formation</a>
                    </div>
                </center>
            </div>
        </center>
    }
}